/***
Custom CSS
    - Categories
    - Report
 */

/**************
    - Categories
    ***********/
.category-chiclet {
background-color: #F4C85A;
}
.category-chiclet-wrapper {
background-color: #331D0B;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
    display: flex;
}

/**************
    - Report
    ***********/
.report-wrapper,
.news-wrapper,
.post-wrapper,
.page-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 3.618em;
    background: #F5f5f5;
}
